body{
  background-color: #f0ebf8;
  /* font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; */
    margin: 0
}
.logo{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  
}
.title{
  position: absolute;
  display: inline;
  font-family: Shantell Sans,cursive;
  font-size: 31px;
  font-weight: 500;
  color: #000000;
  margin: 0px 30px;
}
.logoWrapper {
  display: flex;
  padding: 1vw 3vw;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 12px;
}